# venv
.venv*
env*

# development
.cache
.vscode
.tox/*
extra

# articats
__pycache__
*egg*
deadlinks.egg-info

# artifacts
.coverage
build
dist

# misc
docs

# brew
deadlinks.rb
homebrew-deadlinks

# no need
.DS_Store
.codacy.yml
.codecov.yml
.dockerignore
.editorconfig
.github
.gitignore
.pylintrc
.pyup.yml
.readthedocs.yml
.travis.yml
Dockerfile
LICENSE
Makefile
Makefile.md
dist
demo.gif
pyrightconfig.json
report
unittests
venv.sh
