# venv
.venv*

# development
.cache
.vscode
.tox/*
extra

# articats
__pycache__
*egg*

# artifacts
.coverage*
build
dist

# misc
.DS_Store

# brew
deadlinks.rb
homebrew-deadlinks

# dev
__develop__.py
