# linters
pylint>=2.3.1
yapf>=0.28.0
mypy>=0.701

# tests
pytest>=4.4.1
flaky>=3.6.1
pytest-randomly>=3.1.0
pytest-timeout>=1.3.3
coverage>=4.5.3
pytest-cov>=2.6.1
pytest-xdist>=1.29.0

# docs
Sphinx==4.0.2
recommonmark==0.7.1
sphinx-rtd-theme==1.1.1
sphinx-markdown-tables==0.0.15

# brew
chardet>=3.0.4
certifi>=2019.9.11
idna>=2.8

# install
requests>=2.22.0
click>=7.0
urllib3>=1.25.6
six==1.16.0


# ^^^  KEEP THIS SECTION LAST --- ALWAYS ^^^
