# linters
pylint>=2.3.1
yapf>=0.28.0
mypy>=0.701

# tests
pytest>=7.4.3
flaky>=3.7.0
pytest-randomly>=3.15.0
pytest-timeout>=2.2.0
coverage>=7.4.0
pytest-cov>=4.1.0
pytest-xdist>=3.5.0

# docs
Sphinx==7.2.6
recommonmark==0.7.1
sphinx-rtd-theme==2.0.0
sphinx-markdown-tables>=0.0.17

# brew
chardet>=3.0.4
certifi>=2019.9.11
idna>=2.8

# install
requests>=2.31.0
click>=8.0
six==1.16.0


# ^^^  KEEP THIS SECTION LAST --- ALWAYS ^^^
